{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@": "./src",
                "@root": "./",
                "@middleware": "./src/middleware",
                "@routes": "./src/routes",
                "@utils": "./src/utils"
            }
        }]
    ]
}
